  body{
    background-color:#62306D;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  div{
    position:absolute;
  }
  .square{
    bottom:0px;
    width:300px;
    height:100px;
    background-color:#F7EC7D;
  }
  .up{
    bottom:95px;
    width:100px;
    height:100px;
    background-color:#F7EC7D;

  }
  .circle1{
   	bottom:9em;
    width:100px;
    height:100px;
    background-color:#E38F66; 
    border-radius:100%;
  }
  .circle2{
    bottom:50px;
    left:38.66em;
    width:100px;
    height:100px;
    background-color:#AA445F; 
    border-radius:100%;
  }
  .circle3{
    bottom:50px;
    right:38.6em;
    width:100px;
    height:100px;
    background-color:#AA445F; 
    border-radius:100%;
  }
  .small1{
    bottom:70px;
    right:39.85em;
    width:60px;
    height:60px;
    background-color:#E38F66; 
    border-radius:100%;
  }
  .small2{
    bottom:70px;
    left:39.95em;
    width:60px;
    height:60px;
    background-color:#E38F66; 
    border-radius:100%;
  }
  .small3{
    bottom:10.2em;
    width:60px;
    height:60px;
    background-color:#AA445F; 
    border-radius:100%;
  }