body {
    background-color: #6592CF;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    position: absolute;

}

.left {
    width: 80px;
    height: 40px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border: 20px solid #060F55;
    border-bottom: 0;
    top: 270px;
    left: 560px;
}

.right {
    width: 80px;
    height: 40px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border: 20px solid #060F55;
    border-bottom: 0;
    top: 270px;
    right: 560px;
}

.center {
    width: 80px;
    height: 40px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    border: 20px solid #060F55;
    border-top: 0;
    bottom:30%;
}