  body {
      margin: 0;
      background-color: #FFF1C1;
      margin-left: auto;
      margin-right: auto;
  }
  
  div {
      position: absolute;
  }
  
  .blue {
      top:10rem;
      right: 40rem;
      width: 200px;
      height: 300px;
      background-color: #293462;
  }
  
  .up-red {
      top:10rem;
      right: 46.23rem;
      width: 100px;
      height: 200px;
      background-color: #FE5F55;

  }
  
  .down-red {
      width: 200px;
      height: 100px;
      background-color: #FE5F55;
      top:22.5rem;
      right: 52.5rem;
      z-index: 10;
  }
  
  .blur-up-red {
      width: 100px;
      height: 50px;
      background-color: #A64942;
      top:19.4rem;
      right: 46.2rem;
      z-index: 100;
  }
  
  .blur-down-red {
      width: 50px;
      height: 100px;
      background-color: #A64942;
      top: 22.5rem;
      right: 52.5rem;
      z-index: 100;
  }