  body {
      background-color: #6592CF;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  div {
      display: inline-block;
      position: absolute;
  }
  
  .bottom {
      height: 51px;
      width: 20px;
      background-color: #060F55;
      bottom: 0px;
  }
  
  .middle {
      height: 150px;
      width: 139px;
      background-color: #060F55;
      bottom: 50px;
      border-bottom-left-radius: 49%;
      border-bottom-right-radius: 49%;
  }
  
  .one {
      left: 43.64em;
      bottom: 150px;
      height: 110px;
      width: 20px;
      background-color: #060F55;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
  }
  
  .two {
      left: 44.92em;
      bottom: 150px;
      height: 110px;
      width: 20px;
      background-color: #6592CF;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
  }
  
  .three {
      left: 46.17em;
      bottom: 150px;
      height: 110px;
      width: 20px;
      background-color: #060F55;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
  }
  
  .four {
      left: 47.42em;
      bottom: 150px;
      height: 110px;
      width: 20px;
      background-color: #6592CF;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
  }
  
  .five {
      left: 48.67em;
      bottom: 150px;
      height: 110px;
      width: 20px;
      background-color: #060F55;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
  }
  
  .six {
      left: 49.92em;
      bottom: 150px;
      height: 110px;
      width: 20px;
      background-color: #6592CF;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
  }
  
  .seven {
      left: 51.1em;
      bottom: 150px;
      height: 110px;
      width: 19.9px;
      background-color: #060F55;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
  }