  body {
      display: flex;
      background-color: #19191A;
  }
  
  div {
      position: absolute;
  }
  
  .circle {
      width: 150px;
      height: 150px;
      top: 50px;
      left: 125px;
      background-color: #4F77FF;
      border-radius: 100%;
  }
  
  .rectangle {
      height: 125px;
      width: 75px;
      bottom: 50px;
      background-color: #F9E492;
      left: 125px;
  }
  
  .sector {
      width: 75px;
      height: 75px;
      border-bottom-left-radius: 100px;
      background-color: #9AD5FF;
      top: 125px;
      left: 125px;
  }