  body {
      background-color: #F3AC3C;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  div {
      position: absolute;
  }
  
  .main {
      width: 150px;
      height: 150px;
      border-radius: 100px 100px 80px 80px;
      background-color: #998235;
  }
  
  .left-ear,
  .right-ear {
      width: 60px;
      height: 60px;
      background-color: #998235;
      border-radius: 100px;
  }
  
  .left-ear {
      left: 115px;
      top: 65px;
      z-index: -1;
  }
  
  .right-ear {
      right: 115px;
      top: 65px;
      z-index: -1;
  }
  
  .left-ear-inner,
  .right-ear-inner {
      width: 40px;
      height: 40px;
      background-color: #1A4341;
      border-radius: 100%;
  }
  
  .left-ear-inner {
      left: 125px;
      top: 75px;
      z-index: -1;
  }
  
  .right-ear-inner {
      right: 125px;
      top: 75px;
      z-index: -1;
  }
  
  .top {
      width: 25px;
      height: 25px;
      background-color: #1A4341;
      border-top-left-radius: 40px;
      transform: rotate(45deg);
      left: 187px;
      top: 69px;
  }
  
  .left-eye,
  .right-eye {
      width: 20px;
      height: 20px;
      background-color: #1A4341;
      border-radius: 100px;
      margin-top: -10px;
  }
  
  .left-eye {
      left: 150px;
  }
  
  .right-eye {
      right: 150px;
  }
  
  .middle {
      width: 10px;
      height: 25px;
      margin-top: 45px;
      z-index: 1;
      background-color: #1A4341;
  }
  
  .mouth {
      width: 100px;
      height: 40px;
      border-radius: 20px 20px 50px 50px;
      background-color: #FFFFFF;
      top: 170px;
  }
  
  .left-nose,
  .right-nose {
      width: 20px;
      height: 10px;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border: 10px solid #1A4341;
      border-top: 0;
      z-index: 1;
      top: 180px;
  }
  
  .left-nose {
      left: 165px;
  }
  
  .right-nose {
      right: 165px;
  }