  body{
    background-color:#62306D;
  }
  p{
    width:100px;
    height:100px;
    background-color:#F7EC7D;
  }
  .upper{
    margin:3.1em 8.8em;
    border-top-left-radius:100%;
    border-top-right-radius:100%;
  }
  .main p{
    display:inline-block;
    margin-top:-3.1em;
    margin-left:41px;
    border-bottom-left-radius:100%;
    border-bottom-right-radius:100%;
  }
  .main .down {
    margin-left:5.98em;
  }